@{
  Layout="_Layout";
}

@model Registrar.Models.Student

<h2>Add A Department</h2>

<h4>Add a department to this student: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.Label("Select Department")
  @Html.DropDownList("DepartmentId")

  <input type="submit" value="Save"/>
}

<div>
  <div class="outside_side_bar">
    <div class="side_bar">
      <header>Epic Navi:</header>
      <br>
      <span>@Html.ActionLink("Back to Students", "Index")</span>
      <br>
      <span>@Html.ActionLink("Home", "Index", "Home")</span>
    <div>
  </div>
<div>