@{
  Layout = "_Layout";
}

@model Registrar.Models.Student;
@using Registrar.Models;
@using System.Collections.Generic;

<h2>Student Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>  

@if(@Model.BindEntities.Count == 0)
{
  <p>This student has no courses.</p>
}
else
{ 
  <h4>This student is enrolled in the following courses.</h4>
  <ul>
  @foreach(StudentCourse join in Model.BindEntities)
  {
    <li>Courses: @join.Course.Name</li>
    @using (Html.BeginForm("DeleteBind", "Students"))
    {
      @Html.Hidden("bindId", @join.StudentCourseId)
      <input type="submit" value="Delete"/>
    }
    /*string courses = "";
    @if(course.BindEntities.Count == 0)
    {
      courses = "this student has no courses.";
    }
    else
    {
      List<string> courseList = new List<string>();
      @foreach(StudentCourse join in course.BindEntities)
      {
        courseList.Add(join.Course.Name);
      }
      courses = String.Join(", ", courseList);
    }
    <li>courses: @courses</li>*/
  }
  </ul>
}


@if(@Model.JoinEntities.Count == 0)
{
  <p>This Student does not have any departments yet!</p>
}
else
{
  <h4>This student is in the following department:</h4>
  <ul>
    @foreach(StudentDepartment join in Model.JoinEntities)
    {
      <li>Department: @join.Department.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Students"))
      {
        @Html.Hidden("joinId", @join.StudentDepartmentId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<div>
  <div class="outside_side_bar">
    <div class="side_bar">
      <header>Epic Navi:</header>
      <br>
      <span>@Html.ActionLink("Home", "Index", "Home")</span>
      <br>
      <span>@Html.ActionLink("Back to Students", "Index")</span>
      <br>
      <span>@Html.ActionLink("Add a course", "AddCourse", new { id = Model.StudentId })</span>
      <br>
      <span>@Html.ActionLink("Edit Student or Course", "Edit", new { id = Model.StudentId })</span>
      <br>
      <span>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</span>
      <br>
      <span>@Html.ActionLink("Add a Department", "AddDepartment", new { id = Model.StudentId })</span>
    </div>
  </div>
</div>
<br>
