@{
  Layout="_Layout";
}

@model Registrar.Models.Course;
@using Registrar.Models;
@using System.Collections.Generic;

<h2>Course Details<h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Students.Count == 0)
{
  <p>There are no student registered yet</p>
}
else
{
  <h4>Students the course contains:</h4>
  <ul>
  @foreach(Student student in Model.Students)
  {
    string departments = "";
    @if(student.JoinEntities.Count == 0)
    {
      departments = "This Student is not in any departments.";
    }
    else
    {
      List<string> departmentList = new List<string>();
      @foreach(StudentDepartment join in student.JoinEntities)
      {
        departmentList.Add(join.Department.Name);
      }
      departments = String.Join(", ", departmentList);
    }
    <li>@student.Name | departments: @departments</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to courses", "Index")</p>
<p>@Html.ActionLink("Edit Courses", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Add new student", "Create", "Students")</p>