@{
  Layout="_Layout";
}

@model Registrar.Models.Course;
@using Registrar.Models;
@using System.Collections.Generic;

<h2>Course Details<h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.BindEntities.Count == 0)
{
  <p>There are no student registered yet</p>
}
else
{
  <h4>Students the course contains:</h4>
  <ul>
  @foreach(StudentCourse join in Model.BindEntities)
  {
    <li>@join.Student.Name</li>
    
    /*string departments = "";
    @if(student.JoinEntities.Count == 0)
    {
      departments = "This Student is not in any departments.";
    }
    else
    {
      List<string> departmentList = new List<string>();
      @foreach(StudentDepartment join in student.JoinEntities)
      {
        departmentList.Add(join.Department.Name);
      }
      departments = String.Join(", ", departmentList);
    }
    <li>@student.Name | departments: @departments</li>*/
  }
  </ul>
}

<div>
  <div class="outside_side_bar">
    <div class="side_bar">
      <header>Epic Navi:</header>
      <br>
      <span>@Html.ActionLink("Home", "Index", "Home")</span>
      <br>
      <span>@Html.ActionLink("Back to courses", "Index")</span>
      <br>
      <span>@Html.ActionLink("Add student", "AddStudent", new { id = Model.CourseId })</span>
      <br>
      <span>@Html.ActionLink("Edit Courses", "Edit", new { id = Model.CourseId })</span>
      <br>
      <span>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</span>
      <br>
      <span>@Html.ActionLink("Add new student", "Create", "Students")</span>
    </div>
  </div>
</div>
<br>