@{
  Layout ="_Layout";
}

@model Registrar.Models.Course

<h2>Edit</h2>

<h4>Edit this category: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}

<div>
  <div class="outside_side_bar">
    <div class="side_bar">
      <header>Epic Navi:</header>
      <br>
      <span>@Html.ActionLink("Back to list", "Index")</span>
      <br>
      <span>@Html.ActionLink("Home", "Index", "Home")</span>
    </div>
  </div>
</div>