@{
  Layout="_Layout";
}

@using Registrar.Models;

<h1>Courses for @User.Identity.Name</h1>

@if (@Model.Count == 0)
{
  <h3>No Courses are added yet</h3>
}

<ul>
  @foreach(Course course in Model)
  {
    <li>@Html.ActionLink($"{course.Name}", "Details", new { id = course.CourseId })</li>
  }
</ul>

<div>
  <div class="outside_side_bar">
    <div class="side_bar">
      <header>Epic US Navy:</header>
      <br>
      <span>@Html.ActionLink("Add Course", "Create")</span>
      <br>
      <span>@Html.ActionLink("Add Student", "Create", "Students")</span>
      <br>
      <span>@Html.ActionLink("Home", "Index", "Home")</span>
    </div>
  </div>
</div>
<br>