@{
  Layout = "_Layout";
}

@model Registrar.Models.Department

<h2>Add a Student</h2>


<h3>Add a student to this department : @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DepartmentId)

  @Html.Label("Select a Student")
  @Html.DropDownList("StudentId")

  <input type ="submit" value="Save" />
}

<div>
  <div class="outside_side_bar">
    <div class="side_bar">
      <header>Epic Navi:</header>
      <br>
      <span>@Html.ActionLink("Back to list", "Index")</span>
      <br>
      <span>@Html.ActionLink("Home", "Index", "Home")</span>
    </div>
  </div>
</div>