@{
  Layout="_Layout";
}

@model Registrar.Models.Department

<h2>Edit Department</h2>

<h4>Edit this department: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DepartmentId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  <input type="submit" value="Save"/>
}

<div>
  <div class="outside_side_bar">
    <div class="side_bar">
      <header>Epic Navi:</header>
      <br>
      <span>@Html.ActionLink("Back to List", "Index")</span>
      <br>
      <span>@Html.ActionLink("Home", "Index", "Home")</span>
    </div>
  </div>
</div>